{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/grid_editor.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3>Create New Puzzle</h3>
            <form id="new-puzzle-form">
                <div class="row mt-2">
                    <div class="col-2">
                        <label for="col-count">Columns</label>
                    </div>
                    <div class="col">
                        <input type="number" id="col-count" max="25" min="3" value="14">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label for="row-count">Rows</label>
                    </div>
                    <div class="col">
                        <input type="number" id="row-count" max="25" min="3" value="14">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input type="submit" value="Generate">
                    </div>
                </div>
            </form>
        </div>
        <hr class="mt-5">
    </div>
    <h3>Work on recently edited puzzle</h3>
    <div class="row" id="thumbnail-holder"></div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/builder_home.js' %}" type="module"></script>
{% endblock %}