{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/grid_editor.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <a href="#">Create New Puzzle</a>
        </div>
        <div class="col-12">
            <h3>Work on recently edited puzzle</h3>
            <div id="thumbnail-holder"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/builder_home.js' %}" type="module"></script>
{% endblock %}