{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/grid_editor.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid text-center mt-5">
    <h1>Grid</h1>
    <div class="row">
        <div class="col-auto justify-content-center">
            <div id="grid-editor-div"></div>
        </div>
        <div class="col border text-left">
            <div class="row">
                <div class="col">
                    <h3>Current Clue</h3>
                    <div id="current-clue-div"></div>
                </div>
                <div class="col">
                    <h3>Definition</h3>
                    <div id="current-definition-div">
                        <input type="text" class="p-2" id="def-input">
                    </div>
                </div>
                <div class="col">
                    <h3>Word Lngt</h3>
                    <div>
                        <input type="text" class="p-2" id="word-lengths-input">
                    </div>
                </div>
            </div>

            <hr>
            <button id="matches-button">Get Matches</button>
            <div id="matches-div" class="border mt-2 p-2"></div>
            <hr>
            <div id="definition-div" class="border mt-2 p-2"></div>
        </div>
    </div>
    <div class="row border mt-5 justify-content-center">
        <div class="col">
            <label for="layout-editor-checkbox">Edit Layout</label>
            <input type="checkbox" id="layout-editor-checkbox">
        </div>
        <div class="col">
            <button id="save-button">Save</button>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="module" src="{% static 'js/grid_editor.js' %}"></script>
{% endblock %}