{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/grid_editor.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid text-center mt-5">
    <h1>Grid</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div id="grid-editor-div"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/grid_editor.js' %}"></script>
{% endblock %}